[functions]
directory = "netlify/functions"

[build]
command = "npm install && npm run build"
publish = "."

[[redirects]]
from = "/.netlify/functions/*"
to = "/.netlify/functions/:splat"
status = 200
